.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
fvm
example/ios/Pods/
.dart_tool/package_config.json
**/.flutter-plugins-dependencies
**/.settings/
.dart_tool/
example/ios/Flutter/
